.about__wrapper {
  max-width: 1400px;
  margin: auto;
  position: relative;
  margin-bottom: 115px;
}

.about__year {
  @include fonts(700, 156px);
  font-family: "Roboto Condensed", "Arial", sans-serif;
  background: url("../img/about-decoration.png");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: rotate(-90deg);
  position: absolute;
  left: 26px;
  top: -10px;
}

.about__info {
  padding-left: 302px;
  padding-top: 54px;
  padding-right: 110px;

  & p {
    line-height: 22px;
    color: $basic-text;
    line-height: 21.5px;
    font-size: 16px;
  }

  & p:nth-child(1) {
    @include fonts(400, 36px, $basic-text);
    font-family: "Roboto Condensed", "Arial", sans-serif;
    margin-bottom: 37px;
  }

  & p:nth-child(2) {
    margin-bottom: 22px;
  }
}

.about__button {
  @include fonts(700, 14px, $basic-blue);
  font-family: "Roboto Condensed", "Arial", sans-serif;
  letter-spacing: 0.05em;
  background: none;
  border: 1px solid $basic-blue;
  border-radius: 4px;
  padding: 13px 50px;
  margin-top: 22px;
  text-transform: uppercase;
}

.about__tablet-decoration {
  display: none;
}

@media (max-width: $tablet-width) {
  .about__wrapper {
    margin-top: 38px;
    margin-bottom: 84px;
  }

  .about__year {
    & p {
      font-size: 178px;
      margin-top: -40px;
    }
  }

  .about__info {
    padding-left: 214px;
    padding-right: 26px;
    padding-top: 0;

    & p:nth-child(1) {
      font-size: 32px;
      margin-bottom: 38px;
      margin-left: -4px;
    }

    & p:nth-child(2) {
      line-height: 21.5px;
      margin-bottom: 24px;
    }
  }

  .about__tablet-text {
    display: none;
  }

  .about__tablet-decoration {
    display: inline-block;

  }

  .about__button {
    margin-top: 28px;
  }
}

@media (max-width: $mobile-width) {
  .about__wrapper {
    margin-bottom: 65px;

  }

  .about__year {
    display: none;
  }

  .about__info {
    padding-left: 16px;
    padding-right: 16px;

    & p:nth-child(1) {
      font-size: 28px;
      padding-top: 7px;
      padding-left: 2px;
      margin-bottom: 30px;
    }

    & p:nth-child(2) {
      margin-bottom: 46px;
    }
  }

  .about__button {
    margin-top: 18px;
  }
}
