.features {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1347px;
    background: url("../img/features-decoration.png");
    background-size: cover;
    background-position: -70px -30px;
    background-repeat: no-repeat;
    z-index: -1;
  }
}

.features__wrapper {
  max-width: 1420px;
  margin: auto;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 113px;
}

.features__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.features__item {
  max-width: 566px;
  min-height: 298px;
  border: 1px solid $border-color;
  border-left: 3px solid $basic-blue;
  margin-bottom: 30px;
  cursor: pointer;
  background: $basic-white;

  & svg {
    padding-top: 38px;
    padding-left: 40px;
  }

  & h3 {
    @include fonts(400, 24px, $basic-blue);
    font-family: "Roboto Condensed", "Arial", sans-serif;
    padding-left: 42px;
    margin-top: 20px;
    margin-bottom: 0;
  }

  & p {
    @include fonts(400, 16px, $basic-text);
    font-family: "PT Mono", "Arial", sans-serif;
    line-height: 22px;
    padding-left: 42px;
    padding-right: 40px;
  }

  &:nth-child(2n+1) {
    margin-right: 30px;
    margin-left: 12px;
  }

  &:nth-child(3) {
    & svg {
      padding-top: 40px;
    }

    & h3 {
      margin-bottom: 19px;
    }
  }

  &:hover {
    background: $basic-blue;
    border: 1px solid $basic-blue;
    border-left: 3px solid $basic-blue;

    & h3 {
      color: $basic-white;
    }

    & svg {
      fill: $basic-white;
    }

    & p {
      color: $basic-white;
    }
  }
}

@media (max-width: $desktop-width) {
  .features__wrapper {
    max-width: 1200px;
  }

  .features__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}

@media (max-width: $tablet-width) {
  .features::before {
    background-position: -350px -110px;
  }

  .features__wrapper {
    padding-top: 54px;
    padding-left: 24px;
  }

  .features__item {
    min-height: 0;
    height: auto;
    padding-bottom: 3px;

    & svg {
      padding-top: 24px;
      padding-left: 26px;
    }

    & h3 {
      margin-top: 5px;
      margin-left: 0;
      padding-left: 26px;
    }

    & p {
      padding-left: 25px;
      margin-top: 12px;
      padding-right: 20px;
    }

    &:nth-child(2n+1) {
      margin-right: 18px;
      margin-left: 0;
    }

    &:nth-child(2n+2) {
      margin-left: 13px;
      margin-right: 4px;
    }

    &:nth-child(3) {
      padding-bottom: 36px;

      & svg {
        padding-top: 24px;
      }
    }
  }
}

@media (max-width: $mobile-width) {
  .features__wrapper {
    padding-top: 37px;
    padding-left: 14px;
    padding-right: 16px;
  }

  .features__list {
    display: flex;
  }

  .features__item {
    padding-bottom: 6px;
    margin-bottom: 20px;

    &:nth-child(2n+1) {
      margin-right: 0;
    }

    &:nth-child(2n+2) {
      margin-right: 0;
      margin-left: 0;
    }

    & h3 {
      font-size: 20px;
      margin-top: 10px;
      padding-left: 24px;
    }

    &:nth-child(2) {
      padding-bottom: 10px;

      & svg {
        width: 31px;
        height: 32px;
      }

      & p {
        padding-right: 0;
      }
    }

    &:nth-child(3) {
      padding-bottom: 42px;

      & svg {
        width: 39px;
        height: 26px;
        padding-left: 19px;
      }

      & h3 {
        margin-top: 9px;
      }
    }

    &:nth-child(4) {
      & svg {
        width: 32px;
        height: 32px;
      }

      & p {
        margin-top: 18px;
        padding-right: 10px;
      }
    }
  }
}
