.feedback {
  background: $basic-blue;
}

.feedback__wrapper {
  max-width: 1400px;
  margin: auto;
  display: flex;
  padding-bottom: 100px;
  justify-content: center;
  position: relative;

  & h2 {
    @include fonts(400, 36px, $basic-white);
    font-family: "Roboto Condensed", "Arial", sans-serif;
    line-height: 50px;
    padding-top: 62px;
    padding-left: 110px;
    margin-bottom: 12px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 671px;
    height: 641px;
    background: url("../img/feedback-decoration-2.png");
    top: -60px;
    left: -78px;
    z-index: 0;
  }
}

.feedback__image {
  padding-left: 98px;
  padding-top: 160px;
  z-index: 10;
}

.feedback__form-wrapper {
  margin-right: 22px;
}

.feedback__form {
  padding-left: 98px;

  & fieldset {
    border: 0;
    display: flex;

    & input {
      background: $basic-half-white;
      border: none;
      border-radius: 0;
      padding: 13px 17px 18px;
      width: 238px;
      font-family: "PT Mono", "Arial", sans-serif;
      color: $basic-white;
      font-size: 16px;
    }

    & input::placeholder {
      font-family: "PT Mono", "Arial", sans-serif;
      color: $basic-white;
      font-size: 16px;
    }

    & input:focus {
      outline: 2px solid $basic-text;
    }

    & textarea {
      font-family: "PT Mono", "Arial", sans-serif;
      color: $basic-white;
      font-size: 16px;
      background: $basic-half-white;
      border: none;
      padding: 13px 17px 18px;
      min-width: 540px;
      resize: none;
      margin-top: 22px;
      height: 124px;
    }

    & textarea::placeholder {
      font-family: "PT Mono", "Arial", sans-serif;
      color: $basic-white;
      font-size: 16px;
    }

    & textarea:focus {
      outline: 2px solid $basic-text;
    }

    &:first-child input {
      margin-right: 30px;
    }
  }

  & legend {
    border: 0;
    color: $basic-white;
    margin-bottom: 50px;
  }
}

.feedback__button {
  @include fonts(700, 14px, $basic-white);
  font-family: "Roboto Condensed", "Arial", sans-serif;
  letter-spacing: 0.05em;
  background: none;
  border: 1px solid $basic-white;
  border-radius: 4px;
  padding: 13px 80px;
  margin-top: 28px;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background: $basic-white;
    color: $basic-blue;
  }

  &:active {
    opacity: 0.7;
  }

  &:disabled {
    border: 1px solid $basic-grey;
    color: $basic-grey;
    cursor: default;
    background: $basic-blue;
  }
}

.feedback__label {
  @include fonts(400, 14px, $basic-white);
  line-height: 16px;
  display: block;
  max-width: 300px;
  padding-left: 30px;
  margin-left: 38px;
  margin-top: 36px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.feedback__checkbox {
  display: none;
}

.feedback__checkbox + label {
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border: 1px solid $basic-white;
    top: 0;
    left: 0;
  }
}

.feedback__checkbox:checked + label::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  background: transparent;
  border-right: 1px solid $basic-white;
  border-bottom: 1px solid $basic-white;
  transform: rotate(45deg);
  left: 6px;
  top: 2px;
}

.feedback__checkbox--invalid + label {
  &::before {
    animation: pulse 1s 1 linear;
    animation-fill-mode: forwards;
  }
}

@media (max-width: $desktop-width) {
  .feedback__image {
    padding-left: 18px;

    & img {
      width: 400px;
      height: auto;
    }
  }

  .feedback__form-wrapper {
    & h2 {
      padding-left: 90px;
    }
  }

  .feedback__form {
    padding-left: 78px;
  }
}

@media (max-width: $half-desktop-width) {
  .feedback__image {
    & img {
      width: 300px;
    }
  }

  .feedback__form-wrapper {
    & h2 {
      padding-left: 70px;
    }
  }

  .feedback__form {
    padding-left: 58px;
  }

  .feedback__button {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: $tablet-width) {
  .feedback__image {
    display: none;
  }

  .feedback__wrapper {
    padding-bottom: 93px;

    &::before {
      background: none;
    }
  }

  .feedback__form-wrapper {
    margin-right: 36px;

    & h2 {
      font-size: 32px;
      padding-top: 51px;
      padding-left: 88px;
    }
  }

  .feedback__label {
    padding-left: 30px;
    margin-left: 30px;
  }

  .feedback__form {
    padding-left: 77px;
    padding-top: 4px;

    & fieldset:first-child input {
      width: 247px;
      padding-bottom: 20px;
    }

    & fieldset:nth-child(2) textarea {
      min-width: 556px;
      margin-top: 24px;
      padding-bottom: 22px;
    }
  }

  .feedback__button {
    padding-left: 84px;
    padding-right: 84px;
    padding-bottom: 15px;
    margin-top: 32px;
    min-width: 280px;
  }

  .feedback__checkbox + label {
    margin-top: 41px;
    margin-left: 43px;

    &::before {
      left: -3px;
    }
  }

  .feedback__checkbox:checked + label::after {
    left: 3px;
  }
}

@media (max-width: $mobile-width) {
  .feedback__wrapper {
    padding-left: 15px;
    padding-bottom: 32px;

    &::before {
      background: none;
      width: 0;
    }
  }

  .feedback__form-wrapper {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-right: 4px;

    & h2 {
      padding-left: 0;
      font-size: 28px;
      line-height: 39px;
      padding-top: 7px;
      margin-bottom: 10px;
    }
  }

  .feedback__form {
    padding-left: 0;
    width: 100%;

    & fieldset:nth-child(1) {
      padding-left: 0;
      padding-right: 0;
      flex-direction: column;
      margin-left: 0;
      padding-bottom: 0;

      & legend {
        padding-left: 0;
        line-height: 21px;
        margin-bottom: 20px;
      }

      & input {
        width: auto;
        margin-right: 14px;
        margin-bottom: 32px;
      }
    }

    & fieldset:nth-child(2) {
      padding: 0;
      margin-left: 0;
      min-width: 0;
      width: auto;

      .feedback__question {
        min-width: 0;
        width: 100%;
        margin-right: 14px;
        margin-top: 0;
        height: 67px;
      }
    }

    & fieldset:nth-child(3) {
      padding-left: 0;
      flex-direction: column;
    }
  }

  .feedback__button {
    margin-top: 24px;
  }

  .feedback__checkbox + label {
    margin-left: 2px;
    margin-top: 30px;
  }
}

@keyframes pulse {
  0% {
    border: 1px solid $red-color;
    transform: scale(1);
  }
  5% {
    transform: scale(1.25);
  }
  7% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
    border: 1px solid $red-color;
  }
}
