.header__wrapper {
  max-width: 1420px;
  margin: auto;
  position: relative;
  z-index: 12;
  padding: 0 18px;

  & p {
    display: flex;
    flex-direction: column;
  }
}

.header__nav {
  display: flex;
  justify-content: space-between;
  min-height: 120px;
}

.header__nav-logo {
  display: flex;
  max-width: 300px;
  margin-top: 32px;
  margin-left: 12px;
}

.header__nav-logo-mobile {
  display: none;
}

.header__nav-contacts-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 50px;
  margin-left: auto;
  padding-left: 18px;

  .header__nav-contacts-item {
    margin-right: 50px;
    margin-bottom: 8px;

    & a {
      color: $basic-white;
    }

    &:nth-child(2) {
      margin-left: 36px;
    }

    &:nth-child(2) svg {
      margin-bottom: -4px;
    }
  }
}

.header__nav-contacts-item svg {
  padding-right: 19px;
}

.header__nav-button {
  @include fonts(700, 14px, $basic-white);
  font-family: "Roboto Condensed", "Arial", sans-serif;
  letter-spacing: 0.05em;
  border-radius: 5px;
  background: none;
  border: 1px solid $basic-white;
  padding: 13px 26px;
  text-transform: uppercase;
  margin-top: 36px;
  cursor: pointer;
  min-width: 180px;
  max-height: 46px;

  &:hover {
    border: 1px solid $basic-blue;
    background: $basic-white;
    color: $basic-black;
  }

  &:active {
    opacity: 0.7;
  }
}

.header__nav-mail {
  &:hover {
    color: $basic-blue;
  }

  &:active {
    opacity: 0.7;
  }
}

.header__nav-tele {
  &:hover {
    color: $basic-blue;
  }

  &:active {
    opacity: 0.7;
  }
}

@media (max-width: $tablet-width) {
  .header__nav-logo {
    margin-top: 20px;
    margin-left: 6px;
  }

  .header__nav-mail,
  .header__nav-tele,
  .header__nav-button {
    display: none;
  }

  .header__nav-contacts-list {
    margin-top: 32px;
    margin-right: -12px;

    .header__nav-contacts-item {
      margin-right: 0;

      &:nth-child(1) {
        margin-top: 3px;

        & svg {
          width: 25px;
          height: 18px;
        }
      }

      &:nth-child(2) {
        margin-left: 12px;

        & svg {
          width: 24px;
          height: 24px;
        }
      }

      &:nth-child(n+3) {
        display: none;
      }
    }
  }
}

@media (max-width: $mobile-width) {
  .header {
    position: absolute;
    top: 0;
    width: 100%;
  }

  .header__wrapper {
    padding-left: 11px;
    padding-right: 11px;
  }

  .header__nav-logo {
    display: none;
  }

  .header__nav-logo-mobile {
    display: block;
    margin-top: 17px;
    margin-left: 6px;
  }

  .header__nav-contacts-list {
    margin-top: 22px;
  }

  .header__nav-contacts-item {
    & svg {
      padding-right: 15px;
    }
  }
}
