.products {
  background-color: $products-background;
}

.products__wrapper {
  max-width: 1190px;
  margin: auto;
  padding-bottom: 102px;
  padding-left: 28px;
  padding-right: 10px;

  & h2 {
    @include fonts(400, 36px, $basic-white);
    font-family: "Roboto Condensed", "Arial", sans-serif;
    padding-top: 92px;
    padding-bottom: 26px;
    padding-left: 8px;
  }
}

.products__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.products__item {
  width: 370px;
  height: 620px;
  color: $basic-white;
  position: relative;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 24px;

  &:hover {
    outline: 1px solid $basic-blue;
  }

  & a {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: transparent;
  }

  & p {
    @include fonts(400, 20px, $basic-white);
    line-height: 30px;
    margin-top: 50px;
    margin-left: 44px;
    font-family: "Roboto Condensed", "Arial", sans-serif;
  }

  & img {
    opacity: 0.2;
    width: 100%;
    height: auto;
  }

  &:nth-child(3n+4) {
    margin-right: 20px;
  }

  &:nth-child(3n+5) {
    margin-right: auto;
  }
}

.products__button {
  position: absolute;
  display: inline-block;
  vertical-align: baseline;
  right: 0;
  bottom: 0;
  width: 63px;
  height: 63px;
  background: $basic-blue;
  border: 0;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background: transparent;
    border-right: 2px solid $basic-white;
    border-bottom: 2px solid $basic-white;
    transform: rotate(-45deg);
    left: 24px;
    top: 28px;
  }
}

@media (max-width: $footer-breakpoint) {
  .products__wrapper {
    & h2 {
      text-align: center;
      padding-left: 0;
      margin-left: -70px;
    }
  }

  .products__list {
    justify-content: center;
  }

  .products__item {
    width: 310px;

    & img {
      display: none;
    }

    &:nth-child(1)::before {
      content: "";
      position: absolute;
      background: url("../img/products-1.png");
      opacity: 0.2;
      width: 100%;
      height: 620px;
      right: 0;
      z-index: 0;
      pointer-events: none;
    }

    &:nth-child(2)::before {
      content: "";
      position: absolute;
      background: url("../img/products-2.png");
      opacity: 0.2;
      width: 100%;
      height: 620px;
      pointer-events: none;
    }

    &:nth-child(3)::before {
      content: "";
      position: absolute;
      background: url("../img/products-3.png");
      opacity: 0.2;
      width: 100%;
      height: 620px;
      pointer-events: none;
    }
  }

  @media (min-resolution: 2dppx) {
    .products__item:nth-child(1)::before {
      background: url("../img/products-1@2x.png");
      background-size: cover;
    }

    .products__item:nth-child(2)::before {
      background: url("../img/products-2@2x.png");
      background-size: cover;
    }

    .products__item:nth-child(3)::before {
      background: url("../img/products-3@2x.png");
      background-size: cover;
    }
  }
}

@media (max-width: $desktop-width) {
  .products__wrapper {
    padding-left: 10px;
  }
}

@media (max-width: $tablet-width) {
  .products__wrapper {
    padding-right: 26px;
    padding-left: 26px;
    padding-bottom: 30px;

    & h2 {
      font-size: 32px;
      padding-top: 50px;
      padding-right: 90px;
      padding-left: 0;
      line-height: 45px;
      padding-bottom: 24px;
      text-align: left;
      margin-left: 0;
    }
  }

  .products__list {
    flex-direction: column;
  }

  .products__item {
    width: 100%;
    height: 256px;
    margin-bottom: 46px;
    margin-left: 0;

    & p {
      margin-top: 40px;
    }


    &:nth-child(1)::before {
      background: url("../img/products-1-tablet.png");
      background-size: cover;
      width: 100%;
      height: 100%;
    }

    &:nth-child(2)::before {
      background: url("../img/products-2-tablet.png");
      background-size: cover;
      width: 100%;
      height: 100%;
    }

    &:nth-child(3)::before {
      background: url("../img/products-3-tablet.png");
      background-size: cover;
      width: 100%;
      height: 100%;
    }

    &:nth-child(3) p {
      margin-top: 50px;
    }
  }

  @media (min-resolution: 2dppx) {
    .products__item:nth-child(1)::before {
      background: url("../img/products-1-tablet@2x.png");
      background-size: cover;
    }

    .products__item:nth-child(2)::before {
      background: url("../img/products-2-tablet@2x.png");
      background-size: cover;
    }

    .products__item:nth-child(3)::before {
      background: url("../img/products-3-tablet@2x.png");
      background-size: cover;
    }
  }
}

@media (max-width: $mobile-width) {
  .products__wrapper {
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 34px;

    & h2 {
      font-size: 28px;
      padding-right: 0;
      padding-left: 11px;
      padding-top: 50px;
      line-height: 39px;
      padding-bottom: 20px;
    }
  }

  .products__item {
    margin-bottom: 30px;

    & p {
      margin-top: 19px;
      margin-left: 36px;
    }

    &:nth-child(1)::before {
      background: url("../img/products-1-mobile.png");
      background-size: cover;
    }

    &:nth-child(2)::before {
      background: url("../img/products-2-mobile.png");
      background-size: cover;
    }

    &:nth-child(3)::before {
      background: url("../img/products-3-mobile.png");
      background-size: cover;
    }

    &:nth-child(3) p {
      margin-top: 29px;
    }
  }

  @media (min-resolution: 2dppx) {
    .products__item:nth-child(1)::before {
      background: url("../img/products-1-mobile@2x.png");
      background-size: cover;
    }

    .products__item:nth-child(2)::before {
      background: url("../img/products-2-mobile@2x.png");
      background-size: cover;
    }

    .products__item:nth-child(3)::before {
      background: url("../img/products-3-mobile@2x.png");
      background-size: cover;
    }
  }
}
