.promo {
  background: url("../img/promo-decoration-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: $background-promo;
  position: relative;
  z-index: 0;
}

.promo__wrapper {
  max-width: 1400px;
  height: 878px;
  margin: auto;
  display: flex;
  margin-top: -100px;
  padding: 0 18px;

  & h1 {
    @include fonts(700, 80px, $basic-white);
    font-family: "Roboto Condensed", "Arial", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    margin-left: -4px;
    margin-bottom: 25px;
  }

  & p {
    @include fonts(400, 22px, $basic-white);
    line-height: 34px;
    padding-left: 95px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 66px;
      height: 2px;
      background: $basic-white;
      left: 0;
      top: 17px;
    }
  }
}

.promo__image {
  background: url("/img/promo-decoration.png");
  background-position: -8px -82px;
  background-repeat: no-repeat;
  padding-top: 60px;
  margin-top: 200px;
}

.promo__button {
  @include fonts(700, 16px);
  display: inline-block;
  vertical-align: baseline;
  letter-spacing: 0.05em;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  background-color: $basic-blue;
  border: 0;
  padding: 18px 46px;
  border-radius: 5px;
  text-transform: uppercase;
  margin-left: 94px;
  margin-top: 22px;
  cursor: pointer;
  text-align: center;

  &:hover {
    background: $basic-white;
    color: $basic-black;
  }

  &:active {
    opacity: 0.7;
  }
}

.promo__button-mobile {
  display: none;
}

.promo__button-scroll {
  @include fonts(400, 14px, $basic-white);
  font-family: "PT Mono", "Arial", sans-serif;
  background: none;
  border: 0;
  opacity: 0.5;
  position: absolute;
  left: -46px;
  bottom: 126px;
  transform: rotate(-90deg);
  cursor: pointer;

  &:hover {
    color: $basic-blue;
  }
}

.promo__text {
  margin-top: 250px;
  min-width: 785px;
  position: relative;
  z-index: 10;

  & a {
    color: $basic-white;
  }
}

@media (max-width: $desktop-width) {
  .promo__wrapper {
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
  }

  .promo__image {
    background-size: contain;
    background-position: -8px -62px;

    & img {
      width: 560px;
      height: auto;
    }
  }

  .promo__text {
    min-width: 0;
    max-width: 500px;
  }
}

@media (max-width: $half-desktop-width) {
  .promo__wrapper {
    overflow: hidden;

    & h1 {
      font-size: 60px;
      line-height: 70px;
      max-width: 400px;
    }
  }

  .promo__image {
    background-position: -8px -42px;

    & img {
      width: 480px;
    }
  }

  .promo__text {
    min-width: 0;
  }
}

@media (max-width: $tablet-width) {
  .promo__wrapper {
    height: 699px;
    padding-left: 18px;
    padding-right: 18px;
  }

  .promo__text {
    margin-top: 151px;
    margin-left: 74px;

    & p {
      font-size: 18px;
      line-height: 28px;
      min-width: 380px;
      padding-left: 48px;
      padding-top: 4px;

      &::before {
        width: 33px;
        top: 19px;
      }
    }
  }

  .promo__image {
    position: relative;
    margin-top: 66px;
    right: -10%;

    & img {
      z-index: 2;
      width: 470px;
    }
  }

  .promo__button {
    margin-left: 48px;
    margin-top: 36px;
    min-width: 378px;
    padding-left: 0;
    padding-right: 0;
  }

  .promo__button-scroll {
    display: none;
  }
}

@media (max-width: $half-tablet-width) {
  .promo__image {
    right: -31.2%;
    background: none;

    &::before {
      content: "";
      position: absolute;
      width: 330px;
      height: 466px;
      background: url("../img/promo-decoration-tablet.png");
      background-size: cover;
      top: -53px;
      left: -70px;
      z-index: -1;
    }
  }
}

@media (max-width: $mobile-width) {
  .promo {
    padding-top: 30px;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      width: 330px;
      height: 446px;
      background: url("../img/promo-decoration-tablet.png");
      background-size: contain;
      top: -8px;
      right: -160px;
    }
  }

  .promo__wrapper {
    flex-direction: column-reverse;
    align-items: center;
    height: 617px;
    margin-top: 0;
  }

  .promo__image {
    right: -16px;
    padding: 0;
    margin-bottom: -65px;

    & img {
      width: 301px;
      height: 220px;
    }

    &::before {
      background: none;
    }
  }

  .promo__text {
    margin-top: 0;
    margin-left: 0;

    & h1 {
      font-size: 40px;
      line-height: 47px;
      margin-bottom: 23px;
    }

    & p {
      min-width: 0;
      margin-top: 0;
      margin-bottom: 4px;
      font-size: 16px;
      line-height: 25px;
    }
  }

  .promo__button {
    margin-bottom: 70px;
    margin-left: 0;
    margin-right: 0;
    min-width: 0;
    width: 100%;
  }

  .promo__button-desktop {
    display: none;
  }

  .promo__button-mobile {
    display: block;
  }
}

@media (min-resolution: 2dppx) {
  .promo {
    background: url("../img/promo-decoration-2@2x.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: $background-promo;
  }
}
